@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    @variants responsive {
      /* Hide scrollbar for Chrome, Safari and Opera */
      .no-scrollbar::-webkit-scrollbar {
          display: none;
      }

      /* Hide scrollbar for IE, Edge and Firefox */
      .no-scrollbar {
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
      }
    }
  }
.layout{
    font-family: regular;
}

@font-face {
    font-family: regular;
    src: url(./font/Euclid\ Circular\ A\ Regular.ttf);
}
@font-face {
    font-family:semibold;
    src:url(./font/Euclid\ Circular\ A\ SemiBold.ttf);
}
@font-face {
    font-family: medium;
    src: url(./font/Euclid\ Circular\ A\ Medium.ttf);
}
@font-face {
    font-family:Lightfont;
    src: url(./font/Euclid\ Circular\ A\ Light.ttf);
}
@font-face {
    font-family: Boldlight;
    src: url(./font/Euclid\ Circular\ A\ Regular.ttf);
}
@font-face {
    font-family: FullBold;
    src: url(./font/Euclid\ Circular\ A\ Bold.ttf);
}