@tailwind base;
@tailwind components;
@tailwind utilities;

.layout{
    font-family: regular;
}

@font-face {
    font-family: regular;
    src: url(./font/Euclid\ Circular\ A\ Regular.ttf);
}
@font-face {
    font-family:semibold;
    src:url(./font/Euclid\ Circular\ A\ SemiBold.ttf);
}
@font-face {
    font-family: medium;
    src: url(./font/Euclid\ Circular\ A\ Medium.ttf);
}
@font-face {
    font-family:Lightfont;
    src: url(./font/Euclid\ Circular\ A\ Light.ttf);
}
@font-face {
    font-family: Boldlight;
    src: url(./font/Euclid\ Circular\ A\ Regular.ttf);
}
@font-face {
    font-family: FullBold;
    src: url(./font/Euclid\ Circular\ A\ Bold.ttf);
}